matplotlib
numpy
pandas
pykdtree
jupyter-dash
jupyter-server-proxy
dash
scipy
seaborn
imageio
nodejs
statsmodels
datajoint
#
nglui
cloud-volume>=5.0.0
annotationframeworkclient
imageryclient
itkwidgets
meshparty
dashdataframe==0.4.1
gdown
networkx
tqdm
neuroglancer
caveclient
